{% extends "nonoverrides/layouts/nav.html" %}

{% block main %}
    <main>
        <h1 class='h1 h1-primary'>Master the flashcard style of studying.</h1>
        <div class='flex justify-around w-full'>
            <div class='basis-1/3 flex flex-col items-center gap-4 px-8'>
                <c-svg.cards_icon class="w-40 text-secondary" />
                <p class='text-center text-2xl'>Create and collect flash card decks that you want to use to study.</p>
            </div>
            <div class='basis-1/3 flex flex-col items-center gap-4 px-8'>
                <c-svg.checklist_icon class="w-40 text-secondary" />
                <p class='text-center text-2xl'>Test your knowledge in study sessions.</p>
            </div>
            <div class='basis-1/3 flex flex-col items-center gap-4 px-8'>
                <c-svg.chart_icon class="w-40 text-secondary" />
                <p class='text-center text-2xl'>Receive statistical analysis of your studying efforts.</p>
            </div>
        </div>

    </main>
{% endblock %}
