@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Breakpoints copy those set by TailwindCSS */
    --bp-sm: 640px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;

    --h-topbar: 5rem;
    --h-footer: 6rem;
}

@layer base {
    a {
        @apply link;
    }

    button {
        @apply btn;
    }

    dt {
        @apply font-bold after:content-[':'];
    }

    h1 {
        @apply text-3xl sm:text-4xl md:text-5xl font-bold;
    }

    h2 {
        @apply text-2xl sm:text-3xl md:text-4xl font-semibold;
    }

    input {
        @apply input input-accent input-bordered bg-black;
    }

    main {
        @apply flex w-full flex-col items-center gap-6;
    }

    svg {
        @apply fill-none stroke-2 stroke-current;
    }

    [x-cloak] {
        @apply !hidden;
    }
}

@layer components {
    .column-view {
        @apply w-full sm:w-4/5 md:w-3/4 lg:w-3/5;
    }
}

@layer utilities {
    .min-h-screen-ex-topbar-ex-footer {
        @apply min-h-[calc(100vh-var(--h-topbar)-var(--h-footer))];
    }
}
