@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Breakpoints copy those set by TailwindCSS */
    --bp-sm: 640px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;

    --h-topbar: 5rem;
    --h-footer: 6rem;
}

@layer base {
    a {
        @apply link;
    }

    button {
        @apply btn;
    }

    dt {
        @apply font-bold after:content-[':'];
    }

    h1 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold;
    }

    h2 {
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
    }

    h3 {
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium;
    }

    input {
        @apply input input-accent input-bordered;
    }

    input:not([type=search]) {
        @apply input input-accent input-bordered;
    }

    input[type=checkbox] {
        @apply checkbox checkbox-accent size-8;
    }

    textarea {
        @apply textarea textarea-accent textarea-bordered;
    }

    input, input:not([type=search]), input[type=checkbox], textarea {
        @apply bg-black rounded-lg;
    }

    label {
        @apply font-bold;
    }

    main {
        @apply flex flex-col gap-8 w-full px-4 py-8;
    }

    svg {
        @apply fill-none stroke-2 stroke-current;
    }

    [x-cloak] {
        @apply !hidden;
    }
}

@layer components {
    .column-view {
        @apply w-full sm:w-4/5 md:w-3/4 lg:w-3/5;
    }

    .messages li {
        @apply p-4 font-bold;
    }

    .messages li.info, .messages li.debug {
        @apply bg-info text-info-content;
    }

    .messages li.success {
        @apply bg-success text-success-content;
    }

    .message li.warning {
        @apply bg-warning text-warning-content;
    }

    .messages li.error {
        @apply bg-error text-error-content;
    }
}

@layer utilities {
    .min-h-screen-ex-topbar {
        @apply min-h-[calc(100vh-var(--h-topbar))];
    }
}
