{% extends "core/layouts/base.html" %}

{% block main %}
    <main>
        <h1>{{ main_h1 }}</h1>
        {% if deck_list %}
            <ul class='flex flex-col gap-6 w-full'>
                {% for deck in deck_list %}
                    <c-list.deck_list_item id="{{ deck.id }}" title="{{ deck.title }}" creator="{{ deck.creator }}" create_date="{{ deck.create_date }}" card_count="{{ deck.card_count }}" />
                {% endfor %}
            </ul>
        {% else %}
            <span class='w-full text-center'>There are no decks here!</span>
        {% endif %}

        <c-nav.pagination :page_obj='page_obj'/>
    </main>
{% endblock %}
