{% extends "core/layouts/nav.html" %}

{% block main %}
    <main>
        <h1>{{ main_h1 }}</h1>
        <form method="post" class='flex flex-col gap-6'>
            {% csrf_token %}
            <p class='text-lg text-accent'>Are you sure you want to delete deck '{{ deck.title }}'?</p>
            {{ form }}
            <div class='flex justify-center gap-12'>
                <a href="{% url 'decks:deck_list' %}" class='btn btn-primary sm:btn-wide text-lg'>Cancel</a>
                <button type="submit" class='btn-primary sm:btn-wide text-lg'>Confirm</button>
            </div>
        </form>
    </main>
{% endblock %}
