<c-vars id title creator create_date card_count />

<li class='p-4 bg-base-200 border-b rounded-lg'>
    <article class='flex flex-col items-start gap-2'>
        <header>
            <a href="{% url 'decks:deck_detail' id %}" class='link-secondary'>
                <h1 class='text-xl'>{{ title }}</h1>
            </a>
        </header>
        <section>
            <dl class='flex gap-12'>
                <div class='flex flex-col'>
                    <dt>By</dt>
                    <dd>{{ creator }}</dd>
                </div>
                <div class='flex flex-col'>
                    <dt>Created</dt>
                    <dd>{{ create_date }}</dd>
                </div>
                <div class='flex flex-col'>
                    <dt>Size</dt>
                    <dd>{{ card_count }}</span>
                </div>
            </dl>
        </section>
    </article>
</li>
