{% load static %}

<footer class="flex flex-col items-center w-full h-[--h-footer] border-t border-base-content bg-base-300 px-4 py-2">
    <a href="{% url 'core:index' %}" class='link-primary flex-none flex items-center gap-2 text-primary'>
        <img
            src="{% static 'images/flashmode_logo.png' %}"
            alt="FlashMode Logo"
            class="size-10"
        />
        <span>
            FlashMode
        </span>
    </a>
    <div class="mt-2 w-full pt-2 text-center text-xs">
        © 2024 FlashMode. All rights reserved.
    </div>
</footer>
