<ul {{ attrs }}>
    {% if request.user.is_authenticated %}
        <li>
            <a
                href="{% url 'dashboard:index' %}"
                class='link-secondary'
            >
                Dashboard
            </a>
        </li>
        <li>
            <a
                href="{% url 'decks:deck_list' %}"
                class='link-secondary'
            >
                View Decks
            </a>
        </li>
        <li>
            <a
                href="{% url 'decks:deck_create' %}"
                class='link-secondary'
            >
                Create Deck
            </a>
        </li>
        <li>
            <a
                href="{% url 'account_logout' %}"
                class='link-secondary'
            >
                Log Out
            </a>
        </li>
    {% else %}
        <li>
            <a
                href="{% url 'decks:deck_list' %}"
                class='link-secondary'
            >
                View Decks
            </a>
        </li>
        <li>
            <a
                href="{% url 'account_login' %}"
                class='link-secondary'
            >
                Log In
            </a>
        </li>
    {% endif %}
</ul>
