{% load static %}

<div
    x-data="{ menuIsOpen: false, searchbarIsOpen: false, search: '' }"
    @click.away="menuIsOpen = false; searchbarIsOpen = false"
    class="sticky top-0 z-20 flex justify-center h-[--h-topbar]"
>
    <nav
        class="flex items-center justify-between md:justify-around w-full z-10 bg-base-300 border-b border-base-content px-4 py-2"
        aria-label="FlashMode navbar"
    >
        <div class='flex justify-center gap-8'>
            <!-- Brand logo -->
            <a href="{% url 'core:index' %}" class='link-primary flex-none flex items-center gap-2 text-primary'>
                <img
                    src="{% static 'images/flashmode_logo.png' %}"
                    alt="FlashMode Logo"
                    class="size-10"
                />
                <span>
                    FlashMode
                </span>
            </a>
            <!-- Desktop searchbar -->
            <c-search.searchbar action="{% url 'decks:deck_list' %}" search_item_name='deck' class='hidden sm:block'/>
        </div>

        <!-- Desktop menu -->
        <c-nav.menu_link_list class="menu menu-horizontal hidden md:flex text-base"/>
        <div class='flex gap-4 md:hidden'>
            <!-- Mobile search button -->
            <button @click="searchbarIsOpen = !searchbarIsOpen" :aria-expanded="searchbarIsOpen" type="button" class="btn-secondary flex sm:hidden" aria-label="Searchbar button" aria-controls="mobile-topbar-searchbar">
                <c-svg.search_icon x-cloak x-show='!searchbarIsOpen' aria-hidden="true" class="size-6" />
                <c-svg.search_off_icon x-cloak x-show='searchbarIsOpen' aria-hidden="true" class="size-6" />
            </button>
            <!-- Mobile menu button -->
            <button @click="menuIsOpen = !menuIsOpen" :aria-expanded="menuIsOpen" :class="menuIsOpen ? 'fixed top-6 right-6 z-20' : null" type="button" class="btn-secondary flex" aria-label="Menu button" aria-controls="menu">
                <c-svg.menu_icon x-cloak x-show="!menuIsOpen" aria-hidden="true" class="size-6" />
                <c-svg.x_icon x-cloak x-show="menuIsOpen" aria-hidden="true" class="size-6" />
            </button>
        </div>

        <!-- Mobile menu -->
        <c-nav.menu_link_list x-cloak x-show="menuIsOpen" x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" x-transition:enter-start="-translate-y-full" x-transition:enter-end="translate-y-0" x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" x-transition:leave-start="translate-y-0" x-transition:leave-end="-translate-y-full" id="menu" class="menu fixed max-h-svh overflow-y-auto inset-x-0 top-0 z-10 flex flex-col divide-y divide-base-content rounded-b-md border-b border-base-content bg-base-300 px-6 pb-6 pt-20 md:hidden text-base"/>
    </nav>

    <!-- Mobile searchbar -->
    <c-search.searchbar action="{% url 'decks:deck_list' %}" search_item_name='deck' id='mobile-topbar-searchbar' x-cloak x-show="searchbarIsOpen" x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" x-transition:enter-start="-translate-y-full" x-transition:enter-end="translate-y-0" x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" x-transition:leave-start="translate-y-0" x-transition:leave-end="-translate-y-full" class="absolute top-[calc(var(--h-topbar)+1rem)] sm:hidden"/>
</div>
