<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ head_title }}</title>
    <c-metadata.inner_head />
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <c-nav.topbar />
    <c-feedback.messages :messages='messages'/>
    <div class='flex min-h-screen-ex-topbar column-view m-auto'>
      {% block main %}{% endblock %}
    </div>
    <c-nav.footer />
    <c-metadata.scripts />
  </body>
</html>
