{% extends "core/layouts/base.html" %}

{% block main %}
    {{ card_list|json_script:"card_list" }}
    <main
        x-data="{
                cards: JSON.parse(document.getElementById('card_list').textContent),
                cardIndex: 0,
                correctCount: {{ correct_count|default:0 }},
                cardCount: {{ card_count }},
                showingQuestion: true,
                progressPercentage() {
                return ((1 - (this.cards.length - this.cardIndex) / this.cardCount) * 100).toFixed(0);
                },
                accuracyPercentage() {
                return (this.correctCount / this.cardCount * 100).toFixed(0);
                },
                milestoneMessage() {
                const percentage = this.accuracyPercentage();
                if (percentage == 100) return 'Wow! You aced it!';
                if (percentage >= 75) return 'Great job! Your studying is paying off!';
                if (percentage >= 50) return 'Keep it up! You have crossed the halfway point!';
                if (percentage >= 25) return 'Too bad! You will do better next time!';
                return 'Ouch! This calls for a retry!';
                }
                }"
        class='pb-0'
    >
        <div class='grow flex flex-col gap-8'>
            <header class='flex flex-col gap-8'>
                <h1>{{ main_h1 }}</h1>
                <c-feedback.progressbar label_prefix="study session" valuenow="progressPercentage()" />
            </header>
            {% comment %} Card container {% endcomment %}
            <template x-cloak x-if="cardIndex < cards.length">
                <div class='p-4 border rounded-lg bg-base-200'>
                    <section x-cloak x-show="showingQuestion" class='flex flex-col gap-6'>
                        <h2>Question</h2>
                        <p x-text="cards[cardIndex].question"></p>
                        <button type='button' @click="showingQuestion = false" class='btn-primary btn-wide flex justify-center gap-2 m-auto'>
                            <c-svg.chevron_down_icon class='size-6' />
                            <span class='text-lg'>Answer</span>
                        </button>
                    </section>
                    <section x-cloak x-show="!showingQuestion" class='flex flex-col gap-6'>
                        <button type='button' @click="showingQuestion = true" class='btn-primary btn-wide flex justify-center gap-2 m-auto'>
                            <c-svg.chevron_down_icon class='size-6 rotate-180' />
                            <span class='text-lg'>Question</span>
                        </button>
                        <h2>Answer</h2>
                        <p x-text="cards[cardIndex].answer"></p>
                    </section>
                </div>
            </template>
            {% comment %} View shown after response to last card {% endcomment %}
            <template x-cloak x-if="cardIndex >= cards.length">
                <section class='flex flex-col gap-6'>
                    <h2>Deck Completed!</h2>
                    <dl>
                        <div class='flex gap-2 text-lg'>
                            <dt>Cards completed</dt>
                            <dd x-text="cardCount"></dd>
                        </div>
                        <div class='flex gap-2 text-lg'>
                            <dt>Accuracy</dt>
                            <dd x-text="accuracyPercentage() + '%'"></dd>
                        </div>
                    </dl>
                    <p x-text="milestoneMessage()" class='text-lg'></p>
                </section>
            </template>
        </div>

        {% block bottombar %}{% endblock %}
    </main>
{% endblock %}
