{% extends "core/layouts/base.html" %}

{% block main %}
    <main x-data="{ cards: {{ deck.cards }}, cardIndex: 0, correctCount: 0, showingQuestion: true }" x-ref='session'>
        <h1>{{ main_h1 }}</h1>
        {% comment %} Progress bar {% endcomment %}
        <div x-data="{ currentVal: 20 ,minVal: 0 ,maxVal: 100, calcPercentage(min, max, val){return (((val-min)/(max-min))*100).toFixed(0)} }" class="flex h-4 w-full overflow-hidden rounded-md bg-neutral-50 dark:bg-neutral-900" role="progressbar" aria-label="default progress bar" :aria-valuenow="currentVal" :aria-valuemin="minVal" :aria-valuemax="maxVal">
            <div class="h-full rounded-md bg-black p-0.5 text-center text-xs font-semibold leading-none text-neutral-100 dark:bg-white dark:text-black" :style="`width: ${calcPercentage(minVal, maxVal, currentVal)}%`">
                <span x-text="`${calcPercentage(minVal, maxVal, currentVal)}%`"></span>
            </div>
        </div>
        {% comment %} Card container {% endcomment %}
        <div x-cloak x-show="cardIndex < cards.length">
            <section x-cloak x-show="showingQuestion" class='flex flex-col gap-6'>
                <h2>Question</h2>
                <p x-text="cards[cardIndex].question"></p>
                <button type='button' @click="showingQuestion = false" class='btn-primary flex flex-col items-center gap-2'>
                    <span class='text-lg'>Answer</span>
                    <c-svg.chevron_down_icon class='size-6' />
                </button>
            </section>
            <section x-cloak x-show="!showingQuestion" class='flex flex-col gap-6'>
                <button type='button' @click="showingQuestion = true" class='btn-primary flex flex-col items-center gap-2'>
                    <c-svg.chevron_down_icon class='size-6' />
                    <span class='text-lg'>Question</span>
                </button>
                <h2>Answer</h2>
                <p x-text="cards[cardIndex].answer"></p>
            </section>
        </div>
        {% comment %} View shown after response to last card {% endcomment %}
        <section x-cloak x-show="cardIndex >= cards.length">
            <h2>Deck Completed!</h2>
            <dl>
                <dt>Cards completed</dt>
                <dd x-text='cards.length'></dd>
                <dt>Accuracy</dt>
                <dd x-text='cards.length'></dd>
            </dl>
        </section>
    </main>
{% endblock %}

{% block bottombar %}
    <c-nav.bottombar>
        <div x-cloak x-show="$refs.session.cardIndex < $refs.session.cards.length" class='flex justify-around'>
            <button type='button' @click="$refs.session.cardIndex++" class='btn btn-error'>
                <c-svg.x_icon class='size-6' />
                <span>Forgot</span>
            </button>
            <button type='button' @click="$refs.session.cardIndex++; $refs.session.correctCount++" class='btn btn-success'>
                <c-svg.check_icon class='size-6' />
                <span>Remembered</span>
            </button>
        </div>
        <div x-cloak x-show="$refs.session.cardIndex >= $refs.session.cards.length" class='flex justify-center'>
            <a href="." class='btn btn-primary'>Retry</a>
        </div>
    </c-nav.bottombar>
{% endblock %}
